<footer class="p-2 flex flex-col items-center justify-center fixed bg-transparent">
    <div class="p-2 z-10">
        <span class="px-2">
            <a title="github"   href="https://github.com/GoitseoneKau" class="text-4xl">
                <i class="bi bi-github px-2 text-white hover:text-black hover:bg-white hover:rounded"></i>
            </a>
        </span>
        <span class="px-2">
            <a title="linkedin" href="https://www.linkedin.com/in/goitseone-kau-65752511a">
                <i class="bi bi-linkedin text-4xl px-2 text-white hover:text-blue-500 hover:bg-white hover:rounded"></i>
            </a>
        </span>
        <span class="px-2">
            <a title="whatsapp" href="">
                <i class="bi bi-whatsapp text-4xl px-2 text-white hover:text-white hover:bg-green-600 hover:rounded"></i>
            </a>
        </span>
    </div>
    <div class="z-10 p-2">
        <p class="text-white footer-copyright">&copy; Copyright Goitseone Kau </p>
    </div>
</footer>