.projects-s{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/tablet.jpg") no-repeat center fixed;
    background-size: cover;
    z-index: 0;
}

.projects-s::before{
    content: "";
    width: 100%;
    min-height: 100%;
    background-color: #000000b7;
    filter: blur(5px);
    position: absolute;
    z-index:0;
}
.projects-s>div.slide>.image.active{
    animation: fade 1s ease;
    opacity:1;
    display: flex;
}

.projects-s>div.slide>.image{
    width:100%;
    height: 80%;
    background-color: black;
z-index: 1;
    opacity: 0;
    display: none;
}

.projects-s>div.slide{
    padding: 35px;
    opacity: 1;
    width:80%;
    height:50%;
}

.projects-s>h1{
    padding: 10px 0px;
}

.projects-s>div.slide>button{
    border: none;
    background-color: #010101;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-self: center;
    z-index: 1;
}

.projects-s>div.slide>button:hover{
    border: none;
    background-color: #ffffff;
}
.projects-s>div.slide>button>.fa-chevron-left,
.projects-s>div.slide>button>.fa-chevron-right{
    display: block;
    font-size: 2em;
    font-weight: 600;
    color:snow;
}
.projects-s>div.slide>button>.fa-chevron-left:hover,
.projects-s>div.slide>button>.fa-chevron-right:hover{
    font-size: 2em;
    font-weight: 600;
    color:goldenrod;
}
.projects-s>div.slide>button:active{
    border: none;
    background-color: #ffffff;
}

.left-arrow{ left: 0;}

.right-arrow{right: 0;}

.list-projects{
    height: 50vh;
}