<div class="about flex justify-center items-center flex-col w-full">

  <div class="-mt-80  max-[360px]:-mt-0 max-[380px]:-mt-30 w-full z-10 p-2 flex flex-col justify-center items-center bg-opacity-50 details">
    <h1 class=" text-center text-white font-bold cursor-none max-sm:text-5xl max-[344px]:text-4xl w-full">ABOUT ME</h1>
    <p class="center py-5 sm:p-16  w-full">
      <i class="fa-solid fa-quote-left mr-96 " aria-hidden="true"></i> <br />
      Hi, I'm Goitseone Kau, born Tswana, <br> but I speak more than the <br> Tswana or
      English language. I speak Web Code, CSS, HTML, Javascript <br> and I translate
      the thoughts spoken from the mother tongue to the "mother web" language.
      <br />I am skilled Web Design, CSS3, HTML5, Javacript <br /><i
        class="fa-solid fa-quote-right  ml-96"
        aria-hidden="true"
      ></i>
    </p>
    <h2 class="p-2 text-4xl sm:text-6xl w-full text-center">Certificates Of Qualifications &amp; skills</h2>
    <ul class="certificates p-3 flex flex-col items-center justify-center w-full">
      <li class="" >
        <a class="text-base font-medium" href="https://www.upskillist.com/certificate/en/XkZcVyzh/unh0m8xa56lrab1awypunh0z40cp9uww">
          Beginner in Web Development &nbsp; Module
          1(<b> HTML <i class="fa-brands fa-html5 fa-2xl"></i>,
            CSS <i class="fa-brands fa-sass fa-2xl"></i> <i class="fa-brands fa-css3-alt fa-2xl"></i>,
            Design<i class="fa-brands fa-bootstrap fa-2xl"></i></b>)
         
        </a>
      </li>
      <li>
        <a class="text-base font-medium" href="https://www.upskillist.com/certificate/en/nJlA494U/93f0qy0bbu8l15f9n793f0qy0krj5y6i">
          Intermediate in Web Development Module 2(<b>Javascript <i class="fa-brands fa-js fa-2xl"></i>,
            UI/UX</b>)
        </a>
      </li>
      <li>
        <a class="text-base font-medium" href="https://www.upskillist.com/certificate/en/tT7CRe7l/el10g9oga5r091xokel10g9sglqod9tz">
          Advanced in Web Development &nbsp; &nbsp;Module 3(<b>PHP <i class="fa-brands fa-php fa-2xl"></i> &amp;
             MySQL <i class="fa-solid fa-database fa-2xl"></i></b>)
        </a>
      </li>
      <li>
        <a class="text-base font-medium" href="https://www.upskillist.com/certificate/en/dEnQaPgH/yy9v5ye2hhpsykjay0wmzyy9v58m0fb3">
          Proficient in Web Development&nbsp;&nbsp; Module 4(<b>CSS,HTML,PHP &amp;
             MySQL,JS Frameworks And Libraries<i class="fa-brands fa-angular fa-2xl"></i><i class="fa-brands fa-node-js fa-2xl"></i></b>)
        </a>
      </li>
    </ul>
  </div>

 
  <div class="drive w-full z-10 flex flex-col lg:flex-row mt-5">
    <div class="drive_image flex justify-center items-center h-full w-full">
        <h1 class="driveHead absolute mx-auto text-white">Drive</h1>
      <img
      class="h-full w-full"
        src="assets/images/bmw.jpg"
        alt=""
      />
     
    </div>
    <div class="driven_text p-5 flex justify-center items-center h-1/2 ">
      <p>
        It's all about drive. I'm driven by the urge to improve. Experience to a
        degree has become conformity disguised in a professional suit.
        <i
          >“Conformity is the jailer of freedom and the enemy of growth.” – John
          F. Kennedy</i
        >, I live to grow, my experience will show where I come from but not
        where I am going, as I'm yet to find my creative limits.
      </p>
    </div>
  </div>



  <div class="closing w-full z-10  flex flex-col lg:flex-row mt-36 max-[380px]:mt-6">
    <div class="text1 flex justify-center items-center w-1/2 h-1/2 md:h-full">
      <p class="p-5">
        This page speaks for itself. Whether you need simplistic design or
        professional vintage look or colours that speak to your brand or
        personality, <br />I am the one to transfer those ideas into reality
        using my web Development skills to design custom pages that will set you
        apart. If what I'm about intrigues you click the button below.
      </p>
      
        <a class="btn-contact font-bold" routerLink="/Contact">Contact Me</a>
    </div>
    <div class="img1 w-full h-full ">
      <img
      class="w-full h-full"
        src="assets/images/laptop-2620118_1280 (2).jpg"
        alt=""
      />
    </div>
  </div>


</div>
