<div class="home flex flex-col justify-center items-center snap-start snap-always">
    <div class="flex justify-center flex-col z-10 mb-46">
        <div class="flex justify-center items-center h-14 p-2">
            <h1 class="text-center text-white font-bold cursor-none max-sm:text-5xl max-[344px]:text-4xl max-[375px]:text-4xl">
                <span class="text-yellow-600">WEB </span> 
                <span  id="profession-header" >{{ProfessionText()}}</span>  
            </h1>
            <h1 class="input-cursor font-bold h-12"></h1>
        </div>
    </div>
    <div  class="flex justify-center flex-col z-10 mt-10">
        <div class="mx-auto select-none w-1/2 sm:w-3/4">
            <img class="" src="assets/logo3ed.png" alt="hey">
        </div>
        <h1 class="mt-5 text-center text-white text-wrap max-sm:text-7xl max-[344px]:text-5xl max-[375px]:text-5xl">Goitseone Kau</h1>
    </div>
    <div class="flex justify-center  w-full h-10  "><button (click)="scrollTo(target)" class="scrollBtn mt-56 absolute  rounded-full focus:bg-current active:bg-transparent bg-transparent  "><i class="fa fa-arrow-circle-down text-yellow-600 my-2xl" aria-hidden="true"></i></button></div>
</div>
<div #target class="summary flex flex-col  items-center pt-10 snap-start snap-always bg-gray-50">
    <h1  id="my_name" class="center p-5 w-full text-yellow-600">Who Am I,You Ask?</h1>
    <div class="w-full flex flex-col justify-center items-center sm:flex-row h-1/2 max-md:h-full px-52 sm:px-14 max-lg:px-40 max-md:px-14 ">
        <div class="bio-image flex items-center w-full sm:w-1/2 md:w-1/3 max-sm:py-3"><div class="bio-pic "  ></div></div>
        <div class="bio flex items-center  max-sm:flex-col  p-5 w-full sm:w-1/2 md:w-2/5">
            <p class="bio-para mx-auto">
            The name is Goitseone Kau. Certified Web Developer. Since in 2023. <br>
            Located around Pretoria, Gauteng. <br><br>
            I aspire to be proficient in Web Design and Development. Outside of work, <br>
            I enjoy good cup of tea and nice novel plus scifi movies, as they have unique ideas and storylines that go into my designs. <br>
            A smart worker and a thinker. Enrolled myself in web development courses to venture in skills that can bring any business or corporations website to come alive.
            </p>
        </div>
    </div>
    <div class="py-24 mt-16 flex flex-col justify-center items-center h-full w-full bg-yellow-600">
        <h3 class="w-full text-center font-Avenir font-bold py-5">Skill Set</h3>
        <div class="grid grid-cols-2 sm:grid-cols-4 sm:gap-4 lg:flex lg:flex-row h-full">
            <div class="brand flex justify-center items-center"> <i class="fa-brands fa-square-js fa-2xl"></i></div>
            <div  class="brand flex justify-center items-center"> <i class="fa-brands fa-node fa-xl fa-2xl"></i></div>
            <div  class="brand flex justify-center items-center"> <i class="fa-brands fa-less fa-xl fa-2xl" ></i></div>
             <div  class="brand flex justify-center items-center"><i class="fa-brands fa-css3-alt fa-xl fa-2xl" ></i></div>
           <div  class="brand flex justify-center items-center">  <i class="fa-brands fa-bootstrap fa-xl fa-2xl" ></i></div>
            <div  class="brand flex justify-center items-center"> <i class="fa-brands fa-angular fa-xl fa-2xl" ></i></div>
          <div  class="brand flex justify-center items-center">   <i class="fa-brands fa-php fa-xl fa-2xl" ></i></div>
            <div  class="brand flex justify-center items-center"> <i class="fa-brands fa-html5 fa-xl fa-2xl"></i></div>
         </div>
    </div>
</div>